* {
  font-family: "Arial Rounded MT Bold", sans-serif;
}

body {
  padding: 4rem;
}

input {
  color: #ccc;
  font-size: 1.2rem;
  width: 100%;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.card img {
  max-height: 200px;
}
